In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
class PCA:
  
  #metodo de inicializacion objeto
  
  def __init__(self, X, scale = True):
    self.X = X
    self.scale = scale
    self.eigvecs = None 

  #metodo para definir dataframe inercia
 
  def inercia(self):
    if self.scale == True:
      X_scal = np.zeros(X.shape)
      for i in range(X_scal.shape[1]):
        X_scal[:,i] = (X[:,i] - X[:,i].mean())/X[:,i].std()
      self.X = X_scal 
      
    else: 
      self.X = self.X
      
    cov = self.X.T.dot(self.X)/(self.X.shape[0])
    eigvals, self.eigvecs = np.linalg.eig(cov)
    var_exp = {i:i/sum(eigvals) for i in eigvals}
    m_inercia = pd.DataFrame({'eigvals':eigvals,
                               'eigvals_acum': np.cumsum(eigvals),
                               'var_exp': var_exp.values(),
                               'v_expl_acum': np.cumsum(list(var_exp.values()))})
    
    return m_inercia.T
  
  #metodo de proyeccion de datos

  def projec(self):
    Names = ['0']*X.shape[1]
    for i in range(1,X.shape[1] + 1):
      Names[i-1] = str(i)
    project = self.X.dot(self.eigvecs[:,:self.X.shape[1]])
    project = pd.DataFrame(project, columns = Names)
    return project

In [71]:
from sklearn.datasets import load_iris #metodo para conjunto de datos de clasificacion
X = load_iris()['data']

In [72]:
PCA= PCA(X)

In [73]:
PCA.inercia()

                     0         1         2         3
eigvals       2.918498  0.914030  0.146757  0.020715
eigvals_acum  2.918498  3.832528  3.979285  4.000000
var_exp       0.729624  0.228508  0.036689  0.005179
v_expl_acum   0.729624  0.958132  0.994821  1.000000

In [74]:
PCA.projec()

            1         2         3         4
0   -2.264703 -0.480027 -0.127706  0.024168
1   -2.080961  0.674134 -0.234609  0.103007
2   -2.364229  0.341908  0.044201  0.028377
3   -2.299384  0.597395  0.091290 -0.065956
4   -2.389842 -0.646835  0.015738 -0.035923
..        ...       ...       ...       ...
145  1.870503 -0.386966  0.256274  0.389257
146  1.564580  0.896687 -0.026371  0.220192
147  1.521170 -0.269069  0.180178  0.119171
148  1.372788 -1.011254  0.933395  0.026129
149  0.960656  0.024332  0.528249 -0.163078

[150 rows x 4 columns]