## **NECESIDADES BÁSICAS INSATISFECHAS EN BOGOTA**

In [2]:
import pandas as pd               # para importar datos
import numpy as np                # para trabajar con arreglos
import matplotlib.pyplot as plt   # para plotear los datos
import seaborn as sns             # para visualizar datos basados en matplobit

In [19]:
data = pd.read_csv('/content/NBI_BOGOTA.csv')

In [20]:
data.head()

   COD. DEPT DEPARTAMENTO  ...  SERVICIOS INSATISFECHOS. DEP. ECONOMICA
0         11   BOGOTA D.C  ...                    0,0176         0,0335
1         11   BOGOTA D.C  ...                    0,0189         0,0117
2         11   BOGOTA D.C  ...                    0,0035         0,0074
3         11   BOGOTA D.C  ...                    0,0113         0,0226
4         11   BOGOTA D.C  ...                    0,0237         0,0356

[5 rows x 11 columns]

# **Descripcion economica**
El deficit de la calidad de vida que presentan las personas en Bogota, se mantiene con un alto nivel de necesidades basicas insatisfechas en puntos especificos de la capital, por lo tanto es de gran importancia estudiar las variables que conocemos para determinar las causas y las consecuencias de la problematica, por medio de la encuesta multiproposito se visualiza la pobreza y desigualdad que existe entre localidades.

In [21]:
data.columns

Index(['COD. DEPT', 'DEPARTAMENTO', 'COD. LOCALI', 'NOMB.  LOCALIDAD',
       'POBLACION', 'VIVIENDAS', 'POBREZA MULTIDIM.', 'HACINAMIENTO', 'NBI',
       'SERVICIOS INSATISFECHOS.', 'DEP. ECONOMICA'],
      dtype='object')

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   COD. DEPT                 20 non-null     int64
 1   DEPARTAMENTO              20 non-null     object
 2   COD. LOCALI               20 non-null     int64
 3   NOMB.  LOCALIDAD          20 non-null     object
 4   POBLACION                 20 non-null     object
 5   VIVIENDAS                 20 non-null     float64
 6   POBREZA MULTIDIM.         20 non-null     object
 7   HACINAMIENTO              20 non-null     object
 8   NBI                       20 non-null     object
 9   SERVICIOS INSATISFECHOS.  20 non-null     object
 10  DEP. ECONOMICA            20 non-null     object
dtypes: float64(1), int64(2), object(8)
memory usage: 1.8+ KB

In [23]:
data.shape

(20, 11)

In [24]:
data.mean()

COD. DEPT       11.0000
COD. LOCALI     10.5000
VIVIENDAS      151.8065
dtype: float64

In [25]:
data.std()

COD. DEPT        0.000000
COD. LOCALI      5.916080
VIVIENDAS      152.265849
dtype: float64

In [26]:
data.describe()

       COD. DEPT  COD. LOCALI   VIVIENDAS
count       20.0     20.00000   20.000000
mean        11.0     10.50000  151.806500
std          0.0      5.91608  152.265849
min         11.0      1.00000    9.694000
25%         11.0      5.75000   59.892000
50%         11.0     10.50000  106.920500
75%         11.0     15.25000  179.336250
max         11.0     20.00000  662.000000

#**PREGUNTAS DE INVESTIGACION**
1. ¿La desigualdad en la capital colombiana está dada por los resultados de los indices de NBI?
2. ¿La dependencia economica es uno de los factores de la probreza en Bogota?
3. ¿Por que en localidades como sumapaz hay altos indices de servicios insatisfechos, teniendo en cuenta la cantidad de poblacion que hay?
4. ¿Se esta teniendo en cuenta las cifras de la encuesta multiproposito al gestionar investigaciones sobre las politicas publicas de la ciudad?
5. ¿La cantidad de viviendas en la localidad afecta sobre la variable pobreza?

#**CONCLUSIONES**
1. La desigualdad de Bogota es generada por la concentracion de riqueza, dados los datos presentados en la encuesta multripoposito.
2. Se debe optar por medidas acordes a las necesidades de los ciudadanos de localidades con bajos recursos y de esta manera prevenir un indice mayor de desigualdad en la ciudad.